div {
    background-color: rgb(239, 160, 244);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    max-width: 500px;
  margin: auto;
  text-align: center;
  }
  
  h1 {
    color: white;
    
  }
  
  p {
   font-size: 20px;
  }